<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="../js/bgIndex.js" defer></script>
    <link rel="stylesheet" tyoe="text/css" href="../css/bgIndex.css">
    <title>Portfolio - Nicolas Mongrain</title>
</head>

<body class="bg-[#181C2F] overflow-hidden">

    <!-- SVG Background -->
    <svg class="fixed top-0 left-0 w-full h-full -z-20" xmlns="http://www.w3.org/2000/svg" viewBox="-400 0 2400 900">
        <defs>
            <pattern id="grid" width="80" height="80" patternUnits="userSpaceOnUse" x="-40" y="0">
                <path d="M 80 0 L 0 0 0 80" fill="none" stroke="#292A30" stroke-width="1" />
            </pattern>
        </defs>


        <rect width="100%" height="100%" fill="#181C2F" />
        <rect width="100%" height="100%" fill="url(#grid)" />

        <g id="constellations" stroke="#3A3D4A" stroke-width="0.7" fill="#4C4F5E" opacity="0.7">

            <!-- constellation 1 -->
            <line class="line" x1="200" y1="150" x2="350" y2="220" />
            <line class="line" x1="350" y1="220" x2="420" y2="180" />
            <line class="line" x1="420" y1="180" x2="480" y2="260" />

            <circle class="star" cx="200" cy="150" r="2" />
            <circle class="star" cx="350" cy="220" r="3" />
            <circle class="star" cx="420" cy="180" r="2" />
            <circle class="star" cx="480" cy="260" r="2" />

            <!-- constellation 2 -->
            <line class="line" x1="700" y1="300" x2="820" y2="380" />
            <line class="line" x1="820" y1="380" x2="900" y2="340" />
            <line class="line" x1="900" y1="340" x2="980" y2="420" />

            <circle class="star" cx="700" cy="300" r="2" />
            <circle class="star" cx="820" cy="380" r="3" />
            <circle class="star" cx="900" cy="340" r="2" />
            <circle class="star" cx="980" cy="420" r="2" />

            <!-- constellation 3 -->
            <line class="line" x1="300" y1="500" x2="400" y2="580" />
            <line class="line" x1="400" y1="580" x2="500" y2="540" />

            <circle class="star" cx="300" cy="500" r="2" />
            <circle class="star" cx="400" cy="580" r="3" />
            <circle class="star" cx="500" cy="540" r="2" />

            <!-- constellation 4 -->
            <line class="line" x1="100" y1="400" x2="180" y2="460" />
            <line class="line" x1="180" y1="460" x2="140" y2="540" />

            <circle class="star" cx="100" cy="400" r="2" />
            <circle class="star" cx="180" cy="460" r="3" />
            <circle class="star" cx="140" cy="540" r="2" />


            <!-- constellation 5 -->
            <line class="line" x1="1100" y1="120" x2="1200" y2="180" />
            <line class="line" x1="1200" y1="180" x2="1150" y2="260" />
            <line class="line" x1="1150" y1="260" x2="1050" y2="220" />

            <circle class="star" cx="1100" cy="120" r="2" />
            <circle class="star" cx="1200" cy="180" r="3" />
            <circle class="star" cx="1150" cy="260" r="2" />
            <circle class="star" cx="1050" cy="220" r="2" />


            <!-- constellation 6 -->
            <line class="line" x1="500" y1="50" x2="600" y2="120" />
            <line class="line" x1="600" y1="120" x2="550" y2="200" />
            <line class="line" x1="550" y1="200" x2="450" y2="160" />
            <line class="line" x1="450" y1="160" x2="500" y2="50" />

            <circle class="star" cx="500" cy="50" r="2" />
            <circle class="star" cx="600" cy="120" r="3" />
            <circle class="star" cx="550" cy="200" r="2" />
            <circle class="star" cx="450" cy="160" r="2" />


            <!-- constellation 7 -->
            <line class="line" x1="850" y1="650" x2="950" y2="700" />
            <line class="line" x1="950" y1="700" x2="1050" y2="660" />
            <line class="line" x1="1050" y1="660" x2="1000" y2="580" />
            <line class="line" x1="1000" y1="580" x2="900" y2="580" />

            <circle class="star" cx="850" cy="650" r="2" />
            <circle class="star" cx="950" cy="700" r="3" />
            <circle class="star" cx="1050" cy="660" r="2" />
            <circle class="star" cx="1000" cy="580" r="2" />
            <circle class="star" cx="900" cy="580" r="2" />

            <!-- points isolés -->
            <circle class="star" cx="600" cy="200" r="2" />
            <circle class="star" cx="1200" cy="300" r="2" />
            <circle class="star" cx="1100" cy="600" r="3" />
            <circle class="star" cx="150" cy="700" r="2" />
            <circle class="star" cx="950" cy="150" r="2" />

            <circle class="star" cx="1275" cy="500" r="4" />
            <circle class="star" cx="1250" cy="420" r="2" />
            <circle class="star" cx="972" cy="636" r="3" />
            <circle class="star" cx="368" cy="789" r="2" />
            <circle class="star" cx="1500" cy="170" r="4" />


            <!--Constellations Supplémentaires pour les plus grand écrans-->
            <!-- EXTRA LEFT (visible seulement sur grands écrans) -->
            <line class="line" x1="50" y1="200" x2="150" y2="280" />
            <line class="line" x1="150" y1="280" x2="80" y2="360" />

            <circle class="star" cx="50" cy="200" r="2" />
            <circle class="star" cx="150" cy="280" r="3" />
            <circle class="star" cx="80" cy="360" r="2" />


            <!-- EXTRA RIGHT -->
            <line class="line" x1="1450" y1="150" x2="1600" y2="220" />
            <line class="line" x1="1600" y1="220" x2="1750" y2="180" />

            <circle class="star" cx="1450" cy="150" r="2" />
            <circle class="star" cx="1600" cy="220" r="3" />
            <circle class="star" cx="1750" cy="180" r="2" />


            <!-- EXTRA TOP -->
            <line class="line" x1="600" y1="-50" x2="750" y2="80" />
            <line class="line" x1="750" y1="80" x2="900" y2="30" />

            <circle class="star" cx="600" cy="-50" r="2" />
            <circle class="star" cx="750" cy="80" r="3" />
            <circle class="star" cx="900" cy="30" r="2" />


            <!-- EXTRA BOTTOM -->
            <line class="line" x1="500" y1="900" x2="650" y2="980" />
            <line class="line" x1="650" y1="980" x2="800" y2="920" />

            <circle class="star" cx="500" cy="900" r="2" />
            <circle class="star" cx="650" cy="980" r="3" />
            <circle class="star" cx="800" cy="920" r="2" />
        </g>
    </svg>

    <!-- Halo souris -->
    <div id="cursor-glow" class="fixed w-[150px] h-[150px] pointer-events-none rounded-full -z-10 blur-[60px] 
        -translate-x-1/2 -translate-y-1/2">

    </div>

    <!-- Contenu -->
    <main class="relative z-10 text-[#EEF8FF] p-10">
        <h1 class="text-4xl font-bold">Test</h1>
    </main>



</body>

</html>