<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="../js/bgIndex.js" defer></script>
    <link rel="stylesheet" type="text/css" href="../css/bgIndex.css">
    <link href="../css/output.css" rel="stylesheet">
    <title>Portfolio - Nicolas Mongrain - Compétences</title>
</head>

<body class="bg-space z-0">

    <mainc class="z-30">
        <h1 class="text-4xl text-[#EEF8FF]">compétences</h1>
    </main>
    
</body>