<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script type="module" src="../js/projets.js" defer></script>
    <script src="../js/bg.js" defer></script>

    <link href="../css/output.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/bg.css">
    <link rel="stylesheet" type="text/css" href="../css/folder.css">
    <link rel="stylesheet" type="text/css" href="../css/animation.css">

    <link rel="icon" href="../images/logo/iconTest.png" type="image/svg+xml">
    <title id="titreSite">Archive - Nicolas Mongrain - Vitrine</title>
</head>

<body class="bg-space z-0">
    <!-- Halo souris -->
    <div id="cursor-glow" class="fixed w-[90px] h-[90px] pointer-events-none rounded-full -z-10 blur-[60px] 
        -translate-x-1/2 -translate-y-1/2">
    </div>

    <main class="z-30 text-[#EEF8FF]">
        <a href="index.html" class="absolute top-12 left-15 fadeSlideDown-anim text-[#EEF8FF] hover:text-[#6AADF4] transform 
        hover:scale-110 transition duration-450" style="animation-delay: 0.4s;">
            <svg width="35px" height="35px" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="SVGRepo_bgCarrier" stroke-width="0" />
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" />
                <g id="SVGRepo_iconCarrier">
                    <path d="M1 6V15H6V11C6 9.89543 6.89543 9 8 9C9.10457 9 10 9.89543 10 11V15H15V6L8 0L1 6Z"
                        fill="currentColor" />
                </g>
            </svg>
        </a>

        <div class="flex flex-col  items-center mt-8">
            <h1 id="titre" class="text-3xl font-bold">Titre</h1>

            <div id="dossier" class="grid grid-cols-3 mt-10 gap-10">

            </div>

        </div>
    </main>
</body>